<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <main>
        <header>
            <div id="contenedor_cabecera">
                <figure><img src="../images/foto_perfil.jpeg" alt=""></figure>
                <h1>Juan José Echeverri Nieto</h1>
            </div>
            <nav>
                <ul id="menu">
                    <li><a href="../view/index.html">Inicio</a></li>
                    <li><a href="../view/familia.html">Familia</a></li>
                    <li><a href="../view/hobbies.html">Hobbies</a></li>
                    <li><a href="../view/formulario.html">Formulario</a></li>
                    <li><a href="../view/tabla.html">Tabla</a></li>
                </ul>
            </nav>
        </header>
        <div id="contenido_familia">
            <div class="persona">
                <figure>
                    <img src="../images/mujer.png" alt="">
                </figure>
                <div class="contenido_persona">
                    <h2>Maria Lucier Nieto</h2>
                    <p>María Lucier es una mujer ejemplar, dedicada y amorosa, que desempeña el papel de madre con gracia y determinación. Con una sonrisa cálida y un corazón generoso, María es el pilar de su familia y una fuente constante de amor y apoyo para su hijos, Juan José y Angie, y para todos los que la rodean.</p>
                    <p>Como madre, María se caracteriza por su paciencia infinita y su capacidad para escuchar y comprender. Siempre está ahí para ofrecer palabras de aliento, consejos sabios y un hombro en el que apoyarse en los momentos difíciles. Su amor incondicional y su dedicación son la fuerza impulsora que impulsa a su familia a alcanzar sus sueños y superar cualquier obstáculo que se presente en el camino.</p>
                    <p>Además de su papel como madre, María es una mujer trabajadora y comprometida con su comunidad. Con una actitud positiva y una voluntad de hierro, María enfrenta cada desafío con determinación y resiliencia, inspirando a todos los que tienen el privilegio de conocerla.
                    </p>
                </div>
            </div>
            <div class="persona">
                <div class="contenido_persona">
                    <h2>Jamer Adrian Echeverri</h2>
                    <p>Jamer Adrián es un hombre de carácter fuerte y corazón gentil, que desempeña el papel de padre con dedicación y amor inquebrantable. Con una mezcla de sabiduría y calidez, Jamer es el roble sobre el que su familia puede apoyarse en cualquier circunstancia..</p>
                    <p>Como padre, Jamer es un modelo a seguir para su hijos, Juan José y Angie, y para todos los que lo rodean. Con una mezcla única de firmeza y compasión, Jamer guía a su familia con mano firme y corazón abierto, siempre dispuesto a brindar orientación, apoyo y aliento en cada paso del camino.</p>
                    <p>Además de ser un padre amoroso, Jamer es un hombre trabajador y comprometido con el bienestar de su familia. Con una ética laboral impecable y un espíritu perseverante, Jamer enfrenta cada desafío con determinación y resolución, inspirando a todos los que tienen el privilegio de conocerlo.</p>
                </div>
                <figure>
                    <img src="../images/hombre.png" alt="">
                </figure>
            </div>
            <div class="persona">
                <figure>
                    <img src="../images/niña.png" alt="">
                </figure>
                <div class="contenido_persona">
                    <h2>Angie Echeverri</h2>
                    <p>Angie, mi hermana menor, es como una ráfaga de energía que irrumpe en cada rincón de nuestra casa con su risa contagiosa y su curiosidad infinita. A pesar de su corta edad, tiene una personalidad que brilla con luz propia y un espíritu juguetón que siempre me saca una sonrisa.</p>
                    <p>Desde que era apenas una niña, Angie ha sido mi compañera de juegos y aventuras. Aunque a veces nos enredamos en pequeñas disputas típicas entre hermanos, nunca dudo en protegerla y guiarla en su camino de descubrimiento. Ver cómo se maravilla con el mundo que la rodea me recuerda la belleza de las cosas simples y me inspira a apreciar cada momento.</p>
                    <p>Su creatividad desbordante y su imaginación sin límites son verdaderamente asombrosas. Juntos construimos castillos de cartón, inventamos historias fantásticas y exploramos mundos imaginarios en el jardín trasero. Angie aporta una frescura y una espontaneidad a mi vida que no cambiaría por nada en el mundo.</p>
                </div>
            </div>
        </div>
        <footer><p>Todo los derechos reservados. Pagina realizada por Juan José Echeverri</p></footer>
    </main>
</body>
</html>