<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <main>
        <header>
            <div id="contenedor_cabecera">
                <figure><img src="../images/foto_perfil.jpeg" alt=""></figure>
                <h1>Juan José Echeverri Nieto</h1>
            </div>
            <nav>
                <ul id="menu">
                    <li><a href="../view/index.html">Inicio</a></li>
                    <li><a href="../view/familia.html">Familia</a></li>
                    <li><a href="../view/hobbies.html">Hobbies</a></li>
                    <li><a href="../view/formulario.html">Formulario</a></li>
                    <li><a href="../view/tabla.html">Tabla</a></li>
                </ul>
            </nav>
        </header>
        <div id="contenido_hobbies">
            <h2>Hobbies</h2>
            <div id="contenedor_hobbies">
                <div class="hobbie">
                    <h3>Lectura</h3>
                </div>
                <div class="hobbie">
                    <h3>Programación</h3>
                </div>
                <div class="hobbie">
                    <h3>Deporte</h3>
                </div>
                <div class="hobbie">
                    <h3>Ver cine</h3>
                </div>
                <div class="hobbie">
                    <h3>Escuchar musica</h3>
                </div>
                <div class="hobbie">
                    <h3>Senderismo</h3>
                </div>
                <div class="hobbie">
                    <h3>Aprender idiomas</h3>
                </div>
                <div class="hobbie">
                    <h3>Jardineria</h3>
                </div>
            </div>
        </div>
        <footer><p>Todo los derechos reservados. Pagina realizada por Juan José Echeverri</p></footer>
    </main>
</body>
</html>